<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldq.hotch.mapper.UserMapper">
    <resultMap id="userEntity" type="com.ldq.hotch.entity.UserEntity">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="userName" />
        <result column="nickname" jdbcType="VARCHAR" property="nickName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>
    <select id="getUserById" resultType="userEntity">
        select *  from tb_user where id = #{id}
    </select>
    <select id="getAllUser" resultType="userEntity">
        select * from tb_user
    </select>
    <select id="getUserByName" resultType="userEntity">
        select * from tb_user where username = #{userName}
    </select>
    <select id="addUser" resultType="userEntity">
        insert into tb_user(username,nickname,password,email,profile_photo,description) values (#{userName},#{nickName},#{password},#{email},#{profilePhoto},#{description})
    </select>

</mapper>